{% extends "core/base.html" %}
{% load static %}
{% block content %}
<!-- HERO SECTION -->
<section id="hero">

    <!-- FLEX CONTAINER -->
     <div class="container flex flex-col-reverse md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0">

        <!-- LEFT ITEM -->
       <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
<h1 class="flex flex-col text-sky-700 space-y-4 max-w-lg text-4xl font-bold text-center md:text-5xl md:text-left">
    NCA 
    TYPE APPROVAL & DEALERSHIP LICENSE 
    APPLICATION PORTAL 
</h1>
<p class="max-w-md text-darkGrayishBlue md:text-left">
    This portal is to allow the public to apply for type approval or dealership license. 
    You can also renew your dealership license here. 
</p>
<!-- TYPE APPROVAL BUTTONS -->
<div class="flex flex space-x-4 md:justify-start">
<a href="{% url 'user_ui:type-approval'%}"class="hidden md:block p-3 px-6 pt-2 text-white bg-orange-600 rounded-full baseline hover:bg-darkGrayishBlue">TYPE APPROVAL</a>
<a href="{% url 'user_ui:dealership'%}"class="hidden md:block p-3 px-6 pt-2 text-white bg-orange-600 rounded-full baseline hover:bg-darkGrayishBlue">DEALERSHIP LICENSE</a>
</div>
       </div>    
       
       <!-- IMAGE -->
        <div class="md:w-1/2">
            <img src="{% static 'images/ilustration intro.png' %}" alt="something picture" class="">
        </div>
     </div>

<!-- FEATURES SECTION -->
<section id="features">
    <!-- FLEX CONTAINER -->
     <div class="container flex flex-col px-4 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row">

<!--WHY TYPE APPROVAL & DEALERSHIP LICENSE -->  
<div class="flex flex-col space-y-12 md:w-1/2">
<h2 class="text-sky-700 max-w-md text-4xl font-bold text-center md:text-left">
    WHY TYPE APPROVAL & DEALERSHIP LICENSE?
</h2>

<p class="max-w-sm text-center text-darkGrayishBlue md:text-left">
    The NCA, under the Electronic Communications Act, 2008 (Act 775), mandates type approval and dealership licenses to
    ensure devices meet regulatory standards. This prevents substandard products, safeguards networks, and promotes fair
    trade by authorizing only approved dealers. These measures align Ghana’s telecommunications sector with international
    standards, ensuring safety and reliability.
</p>
</div>

<!-- THE NEED FOR IT-->
<div class="flex flex-col space-y-8 md:w-1/2">
    <!-- LIST ITEM 1-->
    <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
    
        <!-- Heading -->
         <div class="rounded-l-full rounded-r-full bg-sky-200 text-sky-700 md:bg-transparent">
            <div class="flex items-center space-x-2">
        <div class="px-4 py-2 text-white rounded-full md:py-1 bg-orange-600">
            01
        </div>
        <h3 class="text-base font-bold md:mb-4 md:hidden">
            Regulatory Compliance
        </h3>
            </div>
         </div>
    
         <div>
            <h3 class="hidden mb-4 text-lg text-sky-700 font-bold md:block">
                        Regulatory Compliance
            </h3>
            <p class="text-darkGrayishBlue">
                Ensures devices meet standards set under the Electronic Communications Act, 2008 (Act 775) to prevent interference with
                networks.
            </p>
        </div>
</div>

<!-- LIST ITEM 2-->
<div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">

    <!-- Heading -->
    <div class="rounded-l-full rounded-r-full bg-sky-200 text-sky-700 md:bg-transparent">
        <div class="flex items-center space-x-2">
            <div class="px-4 py-2 text-white rounded-full md:py-1 bg-orange-600">
                02
            </div>
            <h3 class="text-base font-bold md:mb-4 md:hidden">
                Consumer Protection            
            </h3>
        </div>
    </div>

    <div>
        <h3 class="hidden mb-4 text-lg text-sky-700 font-bold md:block">
                Consumer Protection
        </h3>
        <p class="text-darkGrayishBlue">
        Safeguards users from substandard or counterfeit devices, ensuring safety and reliability.
        </p>
    </div>
</div>

<!-- LIST ITEM 3-->

<div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">

    <!-- Heading -->
    <div class="rounded-l-full rounded-r-full text-sky-700 bg-sky-200 md:bg-transparent">
        <div class="flex items-center space-x-2">
            <div class="px-4 py-2 text-white rounded-full md:py-1 bg-orange-600">
                03
            </div>
            <h3 class="text-base font-bold md:mb-4 md:hidden">
             Network Reliability
            </h3>
        </div>
    </div>

    <div>
        <h3 class="hidden mb-4 text-lg text-sky-700 font-bold md:block">
            Network Reliability
        </h3>
        <p class="text-darkGrayishBlue">
            Prevents unauthorized devices from degrading performance or causing disruptions in telecommunications networks.
        </p>
    </div>
</div>

<!-- LIST ITEM 4-->
<div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">

    <!-- Heading -->
    <div class="rounded-l-full rounded-r-full text-sky-700 bg-sky-200 md:bg-transparent">
        <div class="flex items-center space-x-2">
            <div class="px-4 py-2 text-white rounded-full md:py-1 bg-orange-600">
                04
            </div>
            <h3 class="text-base font-bold md:mb-4 md:hidden">
                Fair Trade
            </h3>
        </div>
    </div>

    <div>
        <h3 class="hidden mb-4 text-lg text-sky-700 font-bold md:block">
                Fair Trade
        </h3>
        <p class="text-darkGrayishBlue">
            Authorizes only licensed dealers to sell communication devices, reducing the distribution of illegal or unapproved
            products.
        </p>
    </div>
</div>

 </div>
     </div>
</section>

<!-- Devices to Consider -->
<body id ="devices">
    <!-- Container to heading and Devices Blocks-->
     <div class="max-w-6xl px-5 mx-auto mt-32 text-center">
        <h2 class="text-sky-700 text-4xl font-bold text-center">
            SOME DEVICES TO CONSIDER FOR TYPE APPROVAL OR DEALERSHIP LICENSE
        </h2>

        <!-- Devices Container -->
         <div class="flex flex-col mt-24 md:flex-row md:space-x-6 mb-12">
            <!-- Device 1 -->
    <div class="flex flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:w-1/4">
        <img src="{% static 'images/mobilephone.png'%}" class="w-20 -mt-20" alt=""/>
        <h5 class="text-lg font-bold">Mobile Phones</h5>
        <p class="text-sm font-light text-darkGrayishBlue">
            Mobile phones require type approval to ensure they comply with local communication standards, such as frequency bands
            and safety regulations.
        </p>
    </div>        

    <!-- Device 2 -->
    <div class="flex flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/4">
        <img src="{% static 'images/radio transmitter.png'%}" class="w-20 -mt-20" alt="" />
        <h5 class="text-lg font-bold">Radio Transmitter</h5>
        <p class="text-sm font-light text-darkGrayishBlue">
            These devices are required to ensure they do not interfere with other communication services and operate within the
            prescribed frequencies and power limits.
        </p>
    </div>

    <!-- Device 3 -->
    <div class="flex flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/4">
        <img src="{% static 'images/router.png'%}" class="w-20 -mt-20" alt="" />
        <h5 class="text-lg font-bold">Router</h5>
        <p class="text-sm font-light text-darkGrayishBlue">
            Wi-Fi devices need to be certified to ensure they do not cause interference with other communication devices and meet
            local wireless communication regulations.
        </p>
    </div>

    <!-- Device 4 -->
    <div class="flex flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/4">
        <img src="{% static 'images/satelitte.png'%}" class="w-20 -mt-20" alt="" />
        <h5 class="text-lg font-bold">Satelitte Communication Devices</h5>
        <p class="text-sm font-light text-darkGrayishBlue">
        Devices such as satellite phones or terminals require approval to ensure they comply with frequency allocation and other
        national communication rules.
        </p>
    </div>
</div>


</section>



{% endblock %}